@{
    ViewData["Title"] = "Home Page";
}

<h2>Form parameters parsing demo</h2>
<ul style="font-size: 16px; max-width: 350px;">
    <li>@Html.ActionLink("Manual parsing in single action", "Manual")</li>
    <li>@Html.ActionLink("Manual parsing in separate actions", "ManualWithSeparateHandlers")</li>
    <li>@Html.ActionLink("Model bilding (parameters)", "ModelBuildingInParameters")</li>
    <li>@Html.ActionLink("Model bilding (separate model)", "ModelBuildingInSeparateModel")</li>
</ul>
