@if (ViewBag.result == null)
{
    ViewData["Title"] = "ModelBuildingInParameters";

    <h2>ModelBuildingInParameters</h2>
    <form action="~/Home/ModelBuildingInParameters" method="post">
        <p>
            <input type="number" name="first" />
        </p>
        <p>
            <select name="action">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>    
            </select>
        </p>
        <p>
            <input type="number" name="second" />
        </p>
        <input type="submit" value="Send" />
    </form>
}
else
{
    ViewData["Title"] = "Result";
    <h2>Result:</h2>
    @ViewBag.result
}